<div class="col p-1">
    @if(this.personStore.isLoading()) {
        <strong>Loading... Please wait 3 seconds...</strong>
    } @else {
        @if(this.personStore.persons().length > 0) {
            <table mat-table [dataSource]="dataSource" [style.display]="this.showTable() ? 'block' : 'none'">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> #id </th>
                    <td mat-cell *matCellDef="let person"> {{  person.id }} </td>
                </ng-container>

                <ng-container matColumnDef="firstname">
                    <th mat-header-cell *matHeaderCellDef> Firstname </th>
                    <td mat-cell *matCellDef="let person"> {{  person.firstname }} </td>
                </ng-container>

                <ng-container matColumnDef="lastname">
                    <th mat-header-cell *matHeaderCellDef> Lastname </th>
                    <td mat-cell *matCellDef="let person"> {{  person.lastname }} </td>
                </ng-container>

                <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef> Age </th>
                    <td mat-cell *matCellDef="let person"> {{  person.age }} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>        
            <div class="row flex-start">
                <mat-paginator [pageSizeOptions]="[1, 2, 3, 4, 5, 10]"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements"
                    (page)="updateChanges($event)"
                    #paginator>
                </mat-paginator>
            </div>
        } @else {
            <div class="row p-1">
                <p>There are no Persons to show.</p>
            </div>
        }        
    }    
</div>