<nav>    
    <ul>
        <li>
            <button type="button" mat-raised-button color="primary" [routerLink]="['/']">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
        </li>
        <li>
            <button type="button" mat-raised-button color="primary" [routerLink]="['/counter']">
                <mat-icon>account_box</mat-icon>
                <span>Counter</span>
            </button>
        </li>
        <li>
            <button type="button" mat-raised-button color="primary" [routerLink]="['/books']">
                <mat-icon>book_2</mat-icon>
                <span>Books</span>
            </button>
        </li>
        <li>
            <button type="button" mat-raised-button color="primary" [routerLink]="['/even-or-odd']">
                <mat-icon>casino</mat-icon>
                <span>Even or Odd</span>
            </button>
        </li>
        <li>
            <button type="button" mat-raised-button color="primary" [routerLink]="['/persons']">
                <mat-icon>person</mat-icon>
                <span>Persons</span>
            </button>
        </li>
        <li>
            <button type="button" mat-raised-button color="primary" [routerLink]="['/animals']">
                <mat-icon>pets</mat-icon>
                <span>Animals</span>
            </button>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>